@(campaigns: List[Campaign])
<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
    <title>"Campaign"</title>
    @headers()
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Campaigns CRUD</h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Add new campaign</h2>
                </div>
                <div class="panel-body" id="add-panel">
                    @addForm()
                </div>
            </div>
            <div class="panel panel-default">
                    <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2 class="panel-title">All campaigns in database</h2>
                </div>
                <div class="panel-body">
                    <p>To update click pencil icon, to delete click cross icon</p>
                </div>
                    @readCampaigns(campaigns)
            </div>
        </div>

    </body>
</html>
