@(campaigns: List[Campaign])

<table class="table">
    <tr>
        <th>Campaign name</th>
        <th>Bid amount</th>
        <th>Fund</th>
        <th>Status</th>
        <th>Town</th>
        <th>Radius</th>
    </tr>
    @for(campaign<-campaigns){
        <tr>
            <td>@campaign.getName</td>
            <td>@campaign.getBid</td>
            <td>@campaign.getFund</td>
            <td>@campaign.isStatus</td>
            <td>@campaign.getTown</td>
            <td>@campaign.getRadius</td>
        </tr>
    }
</table>